/* 
• Create a colorful, child-friendly design that’s also readable for adults
• Ensure the layout is responsive for both mobile and desktop views
• Use Flexbox or CSS Grid for layout
• Implement a color scheme suitable for a kindergarten environment
• Colorful hover effects on navigation items 
*/

/*section1*/
.h1{
    text-align:center;
    color:plum;
    font-size: 50px;
}

    
nav{
    display: flex;
    flex-wrap: nowrap;
    background-color: plum;
}
nav > div {

    width: 1150px;
    margin: 50px;
    text-align: justify;
    line-height:50px;
    font-size: 30px;
    
}
.navi{
    border:  7px solid whitesmoke;
}
a:hover{
    color:whitesmoke;
    background-color: plum;
}

footer{
  display: flex;
  flex-direction: column;
  background-color: plum;
}

footer > div {

  width: 200px;
  margin: 5px;
  text-align: start;
  line-height: 20px;
  font-size: 20px;
}
b:hover{
    color:whitesmoke;
    background-color:plum;
}

/*section2*/
/*welcome*/
body{
    background-color: #eeefc4;
}
section {
    padding: 20px;
    margin: 35px auto;
    max-width: 100%;
    /*text-align: center;*/
}
h2{
    font-family: cursive;
    color:blue;
}
#H1 h1, #H1 h4{
    color:blue;
    font-family: cursive;
    text-align: center;
}  
/*table*/
.kg1a{    background-color: #c4efda;}
.kg1b{    background-color: #a3edc9;}
.kg2b{    background-color: #e4c4ef;}
.kg2a{    background-color: #dea7f0;}
.kgm{    background-color: white;}
table, th, td {
    border: 3px solid white;
    border-collapse: collapse;
    font-family: sans-serif;
}

/*end table*/
