/* 
• Create a colorful, child-friendly design that’s also readable for adults
• Ensure the layout is responsive for both mobile and desktop views
• Use Flexbox or CSS Grid for layout
• Implement a color scheme suitable for a kindergarten environment
• Colorful hover effects on navigation items 
*/

/*header*/
.h1{
    text-align:center;
    color:powderblue;
    font-size: 50px;
}



/*navigation*/  

nav{
    display: flex;
    flex-wrap: nowrap;
    background-color: powderblue;
}

nav > div {
    width: 1150px;
    margin: 50px;
    text-align: justify;
    line-height:50px;
    font-size: 30px;   
}

.navi{
    border:  7px solid whitesmoke;
}
a, .bo{
    color:blue;
}
a:hover{
    color:whitesmoke;
    background-color: powderblue;
}


/*footer*/

footer{
  display: flex;
  flex-direction: column;
  background-color: powderblue;
}

footer > div {

  width: 200px;
  margin: 5px;
  text-align: start;
  line-height: 20px;
  font-size: 20px;
}
.bo:hover{
    color: blue;
    border: 2px solid powderblue;
    font-size: larger;
}

/*section2*/
/*welcome*/
body{
    background-color: rgb(248, 248, 231);
    text-align: center;
}
section {
    padding: 20px;
    margin: 35px auto;
    max-width: 100%;
    /*text-align: center;*/
}
h2{
    font-family: cursive;
    color:blue;
}
#H1 h1, #H1 h4{
    color:blue;
    font-family: cursive;
    text-align: center;
}  
/*table*/
.tHead{   font-size: 40px;}
.tHead2{  font-size: 27px; font-family: sans-serif; color:rgb(88, 88, 248)}
.kg1a{    background-color: #c4efda;}
.kg1b{    background-color: #a3edc9;}
.kg2b{    background-color: #e4c4ef;}
.kg2a{    background-color: #dea7f0;}
.kgm{     background-color: white;}
table, th, td {
    border: 3px solid white;
    border-collapse: collapse;
    font-family: sans-serif;
}

/*end table*/
